# comments and whitespace stripped by deployment tool
[S3E]
MemSize=67108864
MemSizeDebug=67108864
DispFixRot="Landscape"				# Landscape
SysGlesVersion=1
SysGlesSuspendWithApp=1
[SOUND]
[GL]
[GX]
Rasterisation=HW
DisplayFrameRate=0
DataCacheSize=15000000
VertCacheSize=12000
UnIndexedStreamMax=9000
[GxFont]
CacheTextureMaxSize=2048
[Util]
{}
[s3e]
SysAppVersion=1.0.5
SysAppCaption="Collider"
AndroidExtSo="libs3eAmazonAds.so;libs3eWebView.so;libs3eFacebook.so;libs3eAmazonInAppPurchasing.so;libs3eAndroidGooglePlayBilling.so;libs3eSamsungInAppPurchasing.so"
{}
[S3E]
SysGlesDirectory=pvr
