# This file is for configuration settings for your
# application.
#
# The syntax is similar to windows .ini files ie
#
# [GroupName]
# Setting = Value
#
# Which can be read by your application using
#  e.g s3eConfigGetString("GroupName", "Setting", string)
#
# All settings must be documented in .config.txt files.
# New settings specific to this application should be
# documented in app.config.txt
#
# Some conditional operations are also permitted, see the
# S3E documentation for details.

[S3E]
MemSize=20485760
MemSizeDebug=40485760
DispFixRot=2				# Landscape
#DispFixRot=1				# Portrait

{OS=ANDROID}
SplashScreenBkR=0			# Android only
SplashScreenBkG=0			# Android only
SplashScreenBkB=0			# Android only
SplashScreenFile="Splash.jpg"	# Android only
SplashScreenWidth=320		# Android only
SplashScreenHeight=170		# Android only
{}


[SOUND]
MaxChannels=16			# Tell IwSound to mix a maximum of 16 channels

[GX]
VertCacheSize=8000
DataCacheSize=80000